<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 定义属性值 -->
    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://180.76.234.113:3306/user"/>
        <property name="username" value="root"/>
        <property name="password" value="12345ssdlh"/>
    </properties>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!-- 别名配置信息,在mapper文件中可直接使用UserInfo这个别名代替org.xl.mybatis.UserInfo这个类 -->
    <typeAliases>
        <typeAlias type="org.xl.mybatis.UserInfo" alias="UserInfo"/>
    </typeAliases>
    <!-- 自定义TypeHandler -->
<!--    <typeHandlers>-->
<!--        <typeHandler handler="org.xl.mybatis.type.IntEnumTypeHandler" javaType="org.xl.mybatis.type.IntEnum" jdbcType="INTEGER" />-->
<!--    </typeHandlers>-->
    <typeHandlers>
        <package name="org.xl.mybatis.type"/>
    </typeHandlers>
    <!-- 自定义拦截器 -->
    <plugins>
        <plugin interceptor="org.xl.mybatis.interceptor.SimpleInterceptor"/>
        <plugin interceptor="com.github.pagehelper.PageHelper"/>
    </plugins>
    <!-- 全局配置信息 -->
    <environments default="development">
        <environment id="development">
            <!-- 配置事务管理器的类型 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源的类型, 以及数据库连接的相关信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/UserInfoMapper.xml"/>
    </mappers>
</configuration>