<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xl.mybatis.UserInfoMapper">
    <!-- 定义映射规则,这里直接使用别名代替完整类路径 -->
    <resultMap id="UserInfoResultMap" type="UserInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age"/>
        <result column="address" property="address"/>
        <result column="creat_time" property="creatTime"/>
    </resultMap>
    <!-- 定义SQL语句 -->
    <select id="getAll" resultMap="UserInfoResultMap">
        SELECT * FROM user_info;
    </select>
</mapper>